:root {
  --active-blue: hsl(218, 81.8%, 56.9%);
  --border-gray: #ccced1;
  --spacing-sm: calc(0.6em * 0.3);
  --spacing-md: calc(0.6em * 0.5);
  --spacing-mdd: calc(0.6em * 0.8);
  --spacing-lg: calc(0.6em * 1);
  --color-success: #008a00;
  --color-cancel: #db3700;
  --color-base-text: #333;
  --color-focused-background: rgba(158, 201, 250, 0.3);
  --image-caption-background: #f7f7f7;
  --ex-font-size-base: 13px;
  --ex-line-height-base: 1.84615;
  --ex-font-face: Helvetica, Arial, Tahoma, Verdana, Sans-Serif;
  --ex-font-size-tiny: 0.7em;
  --ex-font-size-small: 0.75em;
  --ex-font-size-normal: 1em;
  --ex-font-size-big: 1.4em;
  --ex-font-size-large: 1.8em;
  --ex-focus-ring: 1px solid var(--active-blue);
  --ex-inner-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1) inset;
  --widget-outline-width: 3px;
  --widget-risize-box-translate-left: calc(-50% - var(--widget-outline-width)/2);
  --widget-risize-box-translate-right: calc(50% + var(--widget-outline-width)/2);
}

.ProseMirror {
  flex: 1;
  padding: 1cm 1cm 1cm;
  background: #fff;
  text-align: left;
}

.ProseMirror:focus {
  outline: none;
  border: var(--ex-focus-ring);
  box-shadow:
    var(--ex-inner-shadow),
    0 0;
}

.tiptap {
  word-wrap: break-word;
  white-space: normal !important;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: 'liga' 0;
}

.tiptap {
  box-sizing: border-box;
}

.ex-reset-all {
  border-collapse: collapse;
  color: var(--color-base-text);
  cursor: auto;
  float: none;
  font: normal normal normal var(--ex-font-size-base) / var(--ex-line-height-base) var(--ex-font-face);
  text-align: left;
  white-space: nowrap;
}

.tiptap {
  font-family: sans-serif, Arial, Verdana, 'Trebuchet MS';
  color: #333 !important;
  line-height: 1.3em;
}

.tiptap blockquote {
  border-left: 3px solid rgba(13, 13, 13, 0.1);
  padding-left: 1rem;
}

.tiptap p {
  margin: 0 0 9px;
}

.tiptap table.table-resized {
  table-layout: fixed;
}

.tiptap table {
  border-collapse: collapse;
  /* table-layout: fixed; */
  width: 100%;
  height: 100%;
  border-spacing: 0;
  border-spacing: 0;
  overflow: hidden;
}

.tiptap td,
.tiptap th {
  min-width: 2em;
  border: 2px solid #ced4da;
  padding: 3px 5px;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  cursor: text;
}

.tiptap th {
  font-weight: bold;
  text-align: left;
  background-color: #f1f3f5;
}

.single-cell-seleceted {
  background-color: var(--color-focused-background);
}

.selectedCell:after {
  z-index: 1;
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--color-focused-background);
  pointer-events: none;
}

.column-resize-handle {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: -2px;
  width: 4px;
  background-color: #adf;
  cursor: col-resize !important;
}

p {
  margin: 0;
}

.tableWrapper {
  overflow-x: auto;
  margin: 0.9em auto;
  display: table;
}

.ex-toolbar-editor,
.ex-toolbar-items {
  display: flex;
  background-color: #fff;
}

.ex-toolbar-editor {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid var(--border-gray);
  padding: 0 calc(0.6em * 0.5);
}

.ex-toolbar-items {
  align-items: center;
  border-radius: 5px;
}

.ex-selected {
  outline-color: var(--active-blue) !important;
}

.tiptap-widget {
  position: relative;
  outline-color: transparent;
  outline-style: solid;
  outline-width: var(--widget-outline-width);
  user-select: auto;
  transition: outline-color 200ms ease;
}

.ex-toolbar-button {
  display: flex;
  position: relative;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-sm);
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-md);
  margin-right: var(--spacing-md);
  background: transparent;
  transition:
    box-shadow 0.2s ease-in-out,
    border 0.2s;
  border: 1px solid transparent;
  border-radius: 5px;
}

.ex-text-left {
  text-align: left;
}

.ex-mr-0 {
  margin-right: 0px;
}

.ex-button-active {
  color: var(--active-blue);
  background-color: #cae1fc;
}

.ex-hidden {
  display: none !important;
}

.ex-toolbar-button:not(.ex-bolinha):not(.ex-focus-table):not(.ex-button-disabled):hover {
  background: #f0f0f0;
}
.ex-button-disabled {
  opacity: .5;
  z-index: 3;
}

.ex-toolbar-separator {
  display: inline-block;
  align-self: stretch;
  background: var(--border-gray);
  margin-bottom: var(--spacing-sm);
  margin-top: var(--spacing-sm);
  min-width: 1px;
  width: 1px;
  margin-right: var(--spacing-sm);
}

.ex-toolbar-button svg {
  width: 20px;
  height: 20px;
}

.ex-bolinha svg {
  width: 15px;
  height: 15px;
  color: #fff;
  transform: translate(-1px, -1px);
}

.ex-getTable svg {
  width: 21px;
  height: 24px;
  color: #fff;
  margin: -7px -2px;
  padding-right: 1px;
}

.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

.editor-shell {
  border-radius: 2px;
  /* max-width: 1100px; */
  position: relative;
}

.editor-scroller {
  height: calc(201px + (2 * calc(2 * calc(0.6em * 1.5))));
  border: 0;
  position: relative;
  outline: 0;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
  resize: vertical;
  border: 1px solid var(--border-gray);
  border-top: 0px;
  padding: calc(2 * calc(0.6em * 1.5));
  background: #fafafa;
}

.editor-scroller::-webkit-scrollbar {
  width: 8px;
  scrollbar-width: thin;
}

/* Track */
.editor-scroller::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
.editor-scroller::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.editor-scroller::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.editor-shell {
  background: #fff;
  position: relative;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
}

.editor-main {
  position: relative;
  min-height: 100%;
  width: 24.8cm;
  background: #fff;
  border-color: var(--border-gray);
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.ex-p-sm {
  padding: var(--spacing-sm);
}

.ex-p-md {
  padding: var(--spacing-md);
}

.ex-p-lg {
  padding: var(--spacing-lg);
}

.ex-dropdown-balloon {
  flex-direction: row;
  flex-wrap: nowrap;
}

.ex-grid-button {
  width: 12px;
  height: 11px;
  border: none;
  cursor: pointer;
  margin: 1px;
  border: 1px solid var(--border-gray);
  padding: calc(0.6em * 0.3);
  border-radius: 0;
}

.ex-grid-button-hover {
  background: #cae1fc;
  border-color: var(--active-blue);
}

figure, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.ex-image-wrapper {
  clear: both;
  display: table;
  padding: 0.08em;
  max-width: 100%;
  text-align: center;
  position: relative;
}

.ex-image-wrapper > figcaption {
    background-color: var(--image-caption-background);
    caption-side: bottom;
    color: var(--color-base-text);
    display: table-caption;
    font-size: .75em;
    outline-offset: -1px;
    padding: .6em;
    word-break: break-word;
}

.figcaption-is-empty::before {
  content: attr(data-placeholder);
  color: #aaa;
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
}


.icon-arrow {
  width: 12px !important;
}

.ex-image-wrapper img {
  width: 100%;
}

.ex-image-block-middle {
  margin: 0.9em auto;
}

.ex-image-block-align-right {
  margin-right: 0;
  margin-left: auto;
}

.ex-image-block-align-left {
  margin-right: auto;
  margin-left: 0;
}

.ex-image-block-align-center {
  margin-right: auto;
  margin-left: auto;
}

.ex-image-float-left {
  float: left;
  margin-right: 0.9em;
}

.ex-image-float-right {
  float: right;
  margin-left: 0.9em;
}

.math-tex {
  display: inline;
}

.ex-margin-direita {
  margin-right: 0;
  margin-left: auto;
}

.ex-margin-esquerda {
  margin-right: auto;
  margin-left: 0;
}

.ex-margin-meio {
  margin-right: auto;
  margin-left: auto;
}
