@page {
    size: A4 portrait;
    margin: 10mm;

    @bottom-left {
        font-size: 13px !important;
        content: var(--layout-identificacao, none);
    }
}

@page {
    @bottom-right {
        font-size: 13px !important;
        content: counter(page) "/" var(--total-pages, counter(pages));
    }
}

#idAvaliacao {
    position: running(idAvaliacao);
}

.pagedjs_page_content,
.pagedjs_area {
    font-size: var(--layout-font-size, 14px);
}

.math-tex {
    break-inside: avoid;
    page-break-inside: avoid;
}

.dontsplit {
    break-inside: avoid;
    /* page-break-inside: avoid; */
}

.linha-alternativa {
    break-inside: avoid;
}

.quebra-pagina {
    break-before: page;
}

@page folhaDeRosto {}

#folha-rosto {
    page: folhaDeRosto;
}

@page duasColunas {
    --pagedjs-column-count: 2;
    --pagedjs-column-gap: 20px;
    --pagedjs-column-fill: balance;
}

#duas-colunas {
    page: duasColunas;
}

@page rascunho {
    --pagedjs-column-count: 1;
}

#rascunho {
    page: rascunho;
}

.pagedjs_headernote_area:not(:empty) {
    margin-bottom: 10px;
}

.pagedjs_pagebox>.pagedjs_area>.pagedjs_page_content {
    width: 100%;
    height: calc(100% - var(--pagedjs-footer-height, 0px) - var(--pagedjs-header-height, 0px));
    position: relative;
    column-fill: auto;
}

.rascunho {
    break-before: page;
    break-after: page;
    page: rascunho;
}

.watermark {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100% !important;
    background-image: var(--layout-watermark-rascunho, none), var(--layout-watermark-instituicao, none);
    /* background-image: var(--layout-watermark-instituicao, none); */
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    pointer-events: none;
    z-index: 0;
}

.pagedjs_sheet p {
    margin: 0;
}