.answer-table {
  max-width: 100%;
  width: 100%;
  margin: 10px 0;
  border-collapse: collapse;
}
.answer-table td {
  border: 1px solid black; /* Creates the horizontal lines */
  height: 30px; /* Adjust height for line spacing */
}

.box {
  width: 100%;
  border: 1px solid black;
  box-sizing: border-box;
  margin: 10px 0;
}

.box-header {
  background-color: #d3d3d3;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid black;
  height: 30px;
  box-sizing: border-box;
}

.box-content {
  min-height: 30px;
  max-height: 700px;
  background: white;
}

.side-number-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

.side-number-table td {
  border: 1px solid black;
  height: 30px;
  box-sizing: border-box;
}

.side-number-header {
  background-color: #d3d3d3;
  text-align: center;
  font-weight: bold;
}

.side-number {
  text-align: center;
  vertical-align: top;
  padding: 5px;
  width: 50px;
}

.side-number-content {
  min-height: 30px;
  background: white;
}
