:root {
  --color-mbox : rgba(0,0,0,0.2);
  --margin: 4px;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

#controls {
  display: none;
}

@media screen {

  body {
    background-color: whitesmoke;
  }

  .pagedjs_page {
    background-color: #fdfdfd;
    margin: calc(var(--margin) * 4) var(--margin);
    flex: none;
    box-shadow: 0 0 0 1px var(--color-mbox);
  }

  .pages_pages_one_page .pagedjs_pages {
    flex-direction: column;
    align-items: center;
  }

  .pagedjs_pages {
    width: calc((var(--pagedjs-width) * 2) + (var(--margin) * 4));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    transform-origin: 0 0;
    margin: 0 auto;
  }

  #controls {
    margin: 20px 0;
    text-align: center;
    display: block;
  }
}
