{{#if object}}
<ol class="coluna-sm-12 adaptive-margin-bottom avaliacao-alternativas"
    data-ordem-alternativa="{{question.orderAlternative}}">
    {{#each object}}
    <li class="linha-alternativa">
        <span class="media-esq">
            {{{formatAlternativeIndex @index ../assessmentLayout.tipoAlternativa}}}
        </span>
        <span class="media-corpo">
            {{{this}}}
        </span>
    </li>
    {{/each}}
</ol>
{{/if}}