{{#if object}}
<div class="grid-cols-2">
    <ul class="lista-sem-estilo">
        {{#each object.coluna1}}
        <li class="linha-alternativa">
            <span class="media-esq">{{{this.item}}}</span>
            <span class="media-corpo">{{{this.descricao}}}</span>
        </li>
        {{/each}}
    </ul>
    <ul class="lista-sem-estilo">
        {{#each object.coluna2}}
        <li class="linha-alternativa">
            <span class="media-esq">{{{this.item}}}</span>
            <span class="media-corpo">{{{this.descricao}}}</span>
        </li>
        {{/each}}
    </ul>
</div>
<div style="padding-bottom: 12px;"></div>
{{/if}}